<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="Connection_String" connectionString="Data Source=./;Initial Catalog=db_Livraria;Integrate Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Livraria.Properties.Settings.db_LivrariaConnectionString"
      connectionString="Data Source=DESKTOP-A1PIAMK;Initial Catalog=db_Livraria;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Livraria.Properties.Settings.db_LivrariaConnectionString1"
      connectionString="Data Source=DESKTOP-A1PIAMK;Initial Catalog=db_Livraria;Persist Security Info=True;User ID=sa;Password=C#&amp;&amp;JS;Multi Subnet Failover=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>